<section>
  <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner main-carousel">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="img/img2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="img/img1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="img/img4.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

  <section class="container-nueva-mercancia fade-in-section" style="background-color:#a5b4525b;" id="nueva-mercancia">
      <div class="h-divider">
        <div class="shadow"></div>
      </div>
    <h2 class="text-center">NUEVA MERCANCÍA</h2>
    <div
      class="nueva-mercancia-flex d-flex justify-content-center flex-wrap"
    >
    {{#each mercancias}}
       
    <div class="nueva-mercancia-item text-center" >
      <div class="container-img-nm">
        <img src="img/nueva-mercancia/{{imgurl}}" alt="" >
        <div class="texto-nuevo">NUEVO</p></div>
      </div>
      <p>{{name}}</p>
      <p>desde<span> {{price}}$</span></p>
    </div>

    {{/each}}
    </div>
  </section>

  <div class="container-banner-contact" id="tiendas">
      <input id='button' type='checkbox'>
      <label for='button'>Buscar Tienda</label>
      <div class='modalLocalizar'>
        <div class='contentLocalizar'>
            <div class="container-map d-flex align-items-center justify-content-center flex-wrap">
              <div class="ubicacion align-self-start">		
                  <span class="label" style="font-size:1rem;">Buscar:</span>
                  <input type="text" id="testinput" placeholder="Encontrar tienda..." style="width:100%;" spellcheck="false"/>    		
              </div>
              <div class="mapa" id="map"></div>
            </div>
        </div>
      </div>
  </div>

    <section class="video-container" id="aprende">
    <div class="d-flex flex-md-row flex-column  align-items-center"> 
    <div class="text-emprender mx-5 fade-in-section">
      <h2>“No tengas miedo al fracaso, ten miedo de no intentarlo.”</h2>
      <h4 style="margin-top:1em;text-align:end" class="mb-3"> —Roy T. Bennett</h4>
    </div>   
    <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/5wnk4FZXh7w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>  
  </section>

  <section class="info-grid">
    <div class="container-fluid">
      <div class="row g-3 px-md-5 ">
        <div class="col-md-5">
        <div class="p-3 border bg-light cols">
              <p style="font-weight: 900; margin-bottom: 0;">Noticias</p>
              <img src="img/castillo.svg" height=20 style="opacity:0.8;margin:5px 0;">
              <h1> Acontecimientos más relevantes</h1>
              <p>Entérese de las últimas actividades de su centro textil favorito cada semana</p>
              <a href="/news" class="btn btn-danger">Ver mas</a>               
        </div>
        </div>
        <div class="col-md-7">
          <div class="p-3 border cols cols1">
            <h2 class="text-light">Inauguración de nuestra tienda en Coro</h2>
          </div>
        </div>
        <div class="col-md-7">
          <div class="p-3 border cols cols2">
            <h2 class="text-light">Premiamos la creatividad de Maracay</h2>
          </div>
        </div>
        <div class="col-md-5">
          <div class="p-3 border cols cols3">
            <h2 class="text-light">Carúpano ¡Llegamos a tí!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-banner-contact2" id="contactanos">
    <div class="enroll-now p-3 shadow p-3 mb-5 bg-white d-flex flex-column flex-wrap justify-content-center">
      <h2 class="mb-2 text-center">Nuestro equipo es invaluable, pero aún no te tiene a ti ¡Forma parte de El Castillo!</h2>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Unete</button>
    </div>

   <!-- Modal -->
    <div class="modal fade pr-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h1 class="modal-title fs-5 font-weight-bold" id="exampleModalLabel">Datos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-2">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example1" class="form-control border-danger p-2" />
        <label class="form-label" for="form6Example1">Nombres</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example2" class="form-control border-danger p-2" />
        <label class="form-label" for="form6Example2">Apellidos</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-2">
    <input type="email" id="form6Example5" class="form-control border-danger" />
    <label class="form-label" for="form6Example5">Email</label>
  </div>
  <!---->
  <div class="mb-2">
  <input class="form-control border-danger" type="file" id="formFile">
  <label for="formFile" class="form-label">Cargar curriculum</label>
</div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <select class="form-select border-danger" aria-label="Default select example">
    <option selected>Elegir ciudad</option>
    {{#each listaCiudades}}
      <option value={{this}}>{{this}}</option>
    {{/each}}
    </select>
  </div>

  <!-- Submit button -->
  <div class="text-center ">
    <button type="submit" class="btn btn-danger mb-4">Enviar datos</button>
  </div>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>

  

